* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



header {
    background-color: #424769;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 36px;
}

body {
    overflow: hidden;
}



#nav-bar {
    float: left;
    width: 250px;
    background-color: #424769;
    height: 100vh;


}

#profile {
    height: 250px;
    width: 200px;
    border: 5px double white;
    margin-left: 1.6rem;
    margin-bottom: 2rem;
    padding: 2.5rem;
    position: relative;
}

.img {
    margin-bottom: 1rem;
    width: 100px;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #716F81;
    color: white;
    padding: 10px;
    margin: 0.6em 1em;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

#container {
    height: 2000px;
    width: 100%;
    background-color: #EEF0E5;

}

#card {
    opacity: 0;
    pointer-events: none;
}

#card.active {
    opacity: 1;
    pointer-events: auto;
}

#card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(20% - 20px);
    /* %20 genişlik, 20px aralık */
    text-align: center;
    margin-bottom: 20px;
    /* Kartlar arasında bir miktar boşluk bırakmak için */
}

#cardsofmeal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.card p {
    margin: 5px 0;
}


#wallet {
    float: right;
    padding: 10px;
    background-color: #A25772;
    color: white;
    text-align: center;
}

#contract {
    float: right;
    padding: 10px;
    background-color: #A25772;
    color: white;
    text-align: center;
}


#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sayfa {
    opacity: 0;
    pointer-events: none;
}

#sayfa.active {
    opacity: 1;
    pointer-events: auto;
}

#login.unactive {
    opacity: 0;
    pointer-events: none;
}


label {
    margin-bottom: 8px;
    color: #666;
}

form {
    display: flex;
    padding: 1rem;
    margin-right: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: auto;
}


input {
    width: 100%;
    padding: 8px 20px;
    margin-top: 1em;
    margin-bottom: 0.5rem;
}

#log_out {
    background-color: #ddd;
    color: #424769;
    font-weight: 900;
    border-style: double;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

#login_button {
    width: 95%;
}

#reservation_card {
    opacity: 0;
    pointer-events: none;
}

#reservation_card.active {
    opacity: 1;
    pointer-events: auto;
}


#reservation_card {
    position: absolute;
    height: 500px;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

#reservation_card form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#reservation_card div {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    gap: 4px;
    align-items: center;
}

#reservation_card button {
    background-color: #424769;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

#reservation_card button:hover {
    background-color: #333;
}

#Introduction {
    padding-top: 100px;
    text-align: center;
    display: block;

}

#Introduction h1 {
    color: #A25772;
}

#Introduction h3 {
    color: #333;
    padding-top: 30px;
    line-height: 30px;
}

#withdrawButton {
    width: 100px;
}

#reservation {
    width: 300px;

}